* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */

html, body {
    width: 100%;
    height: 100%;
}

/* just to be sure these are full screen*/

canvas {
    display: block;
}


.DialogWindow {
    background-color: #ccc;
    border: solid;
    border-image: url("../../resources/system/dialog.png") 28 / 10px 10px 10px 10px stretch;
    padding: 15px;
}

.DialogTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.DialogFooter {
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 15px;
    text-align: end;
}

.SocialShilling {
    color: white;
    font-size: 0.8rem;
    margin-top: 8px;
    text-decoration: none;
}

.SocialShilling a {
    color: rgb(138, 212, 236);
    text-decoration: none;
}
