.pokemonBattleFriend:after {
    content: 'div';
    display: block;
    width: 80%;
    height: 100px;
    box-shadow: 0 2px 120px rgba(223, 105, 78, .85), 0 2px 120px rgba(0, 0, 0, .65);
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 9;
}

.StatusText {
    font-size: 18px;
    margin-top: 6px;
    color: white;
    padding: 3px;
    border: 1px black solid;
    border-radius: 10px;
}

.STATSText {
    font-size: 14px;
    margin-top: 6px;
    color: white;
    padding: 3px;
    border: 1px black solid;
    border-radius: 10px;
}

.DialogWindow {
    background-color: #ccc;
    border: solid;
    border-image: url("../../resources/system/dialog.png") 28 / 10px 10px 10px 10px stretch;
    padding: 15px;
    opacity: 0.9;
}

.DialogTitle {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 15px;
}

.DialogFooter {
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 15px;
    text-align: end;
}

.SocialShilling {
    color: white;
    font-size: 0.8rem;
    margin-top: 8px;
    text-decoration: none;
}

.SocialShilling a {
    color: rgb(138, 212, 236);
    text-decoration: none;
}


.speech-bubble {
    position: relative;
    background: #fff;
    border-radius: .4em;
    font-size: 18px;
    padding: 5px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    font-size: 18px;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    border-right: 0;
    margin-left: -3.5px;
    margin-bottom: -7px;
}

.pokemonBattle {
    width: 150px;
    height: 150px;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
    border-radius: 100px;
}
